* {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; }

.wrapper {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  background-color: #42b075; }
  .wrapper .jumbotron {
    background-image: url(../img/build/mainHeaderPic.jpg);
    width: calc(100% + 20px);
    height: 100vh;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-10px, 0, 0);
    backface-visibility: hidden;
    background-size: cover;
    background-position: center;
    padding: 0; }
  .wrapper:hover .jumbotron {
    opacity: 0.5;
    filter: alpha(opacity=50);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .wrapper .overlay-home {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .wrapper .overlay-home h1 {
      text-transform: uppercase;
      color: #fff;
      position: relative;
      top: 30%;
      left: 1%;
      width: 60vw;
      background-color: transparent;
      text-align: left;
      overflow: hidden;
      font-weight: 300;
      padding-bottom: 1.5em;
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s; }
      .wrapper .overlay-home h1:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: transform 0.35s;
        -webkit-transition: -webkit-transform 0.35s;
        transform: translate3d(-100%, 0, 0); }
    .wrapper .overlay-home nav {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0; }
      .wrapper .overlay-home nav ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        opacity: 0;
        filter: alpha(opacity=0);
        -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
        transition: opacity 0.35s, transform 0.35s; }
        .wrapper .overlay-home nav ul a {
          text-decoration: none;
          padding: 20px 0;
          overflow: hidden;
          color: #fff;
          position: relative; }
  .wrapper:hover h1:after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .wrapper:hover h1 {
    opacity: 1;
    filter: alpha(opacity=100); }
  .wrapper:hover nav ul {
    opacity: 1;
    filter: alpha(opacity=100); }
  .wrapper:hover nav ul a {
    opacity: 1;
    filter: alpha(opacity=100); }
  .wrapper .overlay-social {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    width: 80%;
    height: 80%;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    transition-duration: 2s; }
    .wrapper .overlay-social h2 {
      text-transform: uppercase;
      color: #fff;
      padding: 10px;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0); }
    .wrapper .overlay-social:hover h2 {
      opacity: 0;
      filter: alpha(opacity=0); }
    .wrapper .overlay-social hr {
      width: 40%;
      opacity: 0;
      filter: alpha(opacity=0);
      border: 1px solid #FFF; }
      .wrapper .overlay-social hr:nth-child(3) {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1); }
      .wrapper .overlay-social hr:nth-child(4) {
        -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1);
        transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, 90deg) scale3d(0, 0, 1); }
    .wrapper .overlay-social h2, .wrapper .overlay-social hr {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
      transform-origin: 50%;
      background-color: transparent;
      margin: 0px; }
    .wrapper .overlay-social .set1, .wrapper .overlay-social .set2 {
      left: 50%;
      position: absolute;
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      -webkit-transform: translate3d(-50%, -50%, 0);
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform-origin: 50%;
      -ms-transform-origin: 50%;
      transform-origin: 50%;
      background-color: transparent;
      margin: 0px;
      padding: 0px; }
    .wrapper .overlay-social .set1 {
      top: 40%; }
    .wrapper .overlay-social .set2 {
      top: 60%; }
    .wrapper .overlay-social a {
      display: inline-block;
      text-decoration: none;
      padding: 7px 14px;
      text-transform: uppercase;
      background-color: transparent; }
    .wrapper .overlay-social p a {
      color: #fff; }
      .wrapper .overlay-social p a:hover, .wrapper .overlay-social p a:focus {
        opacity: 0.6;
        filter: alpha(opacity=60); }
    .wrapper .overlay-social p {
      width: 100%;
      text-transform: none;
      font-size: 15px;
      line-height: 2; }
    .wrapper .overlay-social a i {
      opacity: 0;
      filter: alpha(opacity=0);
      -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
      transition: opacity 0.35s, transform 0.35s;
      padding: 20px;
      font-size: 28px; }
    .wrapper .overlay-social .set1 a:first-child i {
      -webkit-transform: translate3d(-60px, -60px, 0);
      transform: translate3d(-60px, -60px, 0); }
    .wrapper .overlay-social .set1 a:nth-child(2) i {
      -webkit-transform: translate3d(60px, -60px, 0);
      transform: translate3d(60px, -60px, 0); }
    .wrapper .overlay-social .set2 a:first-child i {
      -webkit-transform: translate3d(-60px, 60px, 0);
      transform: translate3d(-60px, 60px, 0); }
    .wrapper .overlay-social .set2 a:nth-child(2) i {
      -webkit-transform: translate3d(60px, 60px, 0);
      transform: translate3d(60px, 60px, 0); }
    .wrapper .overlay-social:hover hr:nth-child(3) {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1);
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -90deg) scale3d(1, 1, 1); }
    .wrapper .overlay-social:hover hr:nth-child(4) {
      opacity: 1;
      filter: alpha(opacity=100);
      -webkit-transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1);
      transform: translate3d(-50%, -50%, 0) rotate3d(0, 0, 1, -180deg) scale3d(1, 1, 1); }
    .wrapper .overlay-social:hover .set1 a:first-child i, .wrapper .overlay-social:hover .set1 a:nth-child(2) i, .wrapper .overlay-social:hover .set2 a:first-child i, .wrapper .overlay-social:hover .set2 a:nth-child(2) i {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      opacity: 1;
      filter: alpha(opacity=100); }

/*# sourceMappingURL=style.css.map */